:root {
  --menu-link-hero-cont: white;
  --text-color: rgba(24, 24, 24, 0.7);
  --section-titles: rgb(153, 148, 132);
  --btn-color: rgb(214, 209, 191);

  --default-font: "Expletus Sans", serif;

  --default-animation: 0.3s ease-in-out;
}

#root {
  font-family: var(--default-font);
  box-sizing: border-box;
}

body {
  margin: 0;
}

input[type="button"] {
  margin: 0;
  padding: 0;
  font-family: var(--default-font);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h2 {
  color: var(--section-titles);
}

p,
a {
  color: var(--text-color);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.body {
  background-color: var(--menu-link-hero-cont);
}

.hero-section h1,
.hero-section p {
  color: var(--menu-link-hero-cont);
}

.hero-section h1 {
  font-size: 60px;
}

.hero-section p {
  font-size: 28px;
}

.navbar a {
  color: var(--menu-link-hero-cont);
}
