:root {
  font-family: "Expletus Sans", serif;
  --main-bg-color: #ececec;
  --alt-bg-color: #cecece;
  --secondary-bg-color: #1b1b1b;
  --secondary-bg-color-opacity: #1b1b1bd5;
  --main-text-color: #575757;
  --alt-text-color: #d1d1d1;
  --main-link-color: #d9d4c4;
  --main-headers-color: #999484;
  --photo-reel-bg: #1b1b1b15;
}

.dark {
  --main-bg-color: #1b1b1b;
  --alt-bg-color: #141414;
  --secondary-bg-color: #ececec;
  --secondary-bg-color-opacity: #ecececd5;
  --main-text-color: #d1d1d1;
  --alt-text-color: #575757;
  --main-link-color: #999484;
  --main-headers-color: #d9d4c4;
  --photo-reel-bg: #ececec15;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 100px 0;
}

.container h2 {
  font-size: 38px;
}

.container h4 {
  font-size: 22px;
}

.container p {
  font-size: 1rem;
}

.footer {
  background-color: black;
    color: white;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
  position: relative;
  box-sizing: border-box;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  margin: 0;
}

h1 {
  font-size: 50px;
}

h3 {
  font-size: 25px;
}

h1,
h2,
h3,
h4,
p,
hr {
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

textarea {
  resize: none;
}

textarea,
input {
  font-family: "Expletus Sans", serif;
}
