.navbar {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  padding: 10px;
  height: 75px;
  margin-bottom: 250px;
  transition: all 0.3s ease-in-out;
}

.navbar.sticky {
  background-color: var(--secondary-bg-color-opacity);
  height: 50px;
}

.navbar.sticky img {
  width: 100px;
  left: 47vw;
}

.navbar nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar a {
  color: #1b1b1b;
}

.navbar.sticky a {
  color: var(--alt-text-color);
}

.navbar img {
  position: absolute;
  width: 200px;
  left: 45vw;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 0px 50px 25px var(--secondary-bg-color-opacity);
}

#bgImg {
  position: fixed;
  z-index: -1;
  width: 100vw;
  top: 0px;
}

.hero-section {
  width: 70%;
  display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: #ececec; 
  animation: slideIn 1s ease-in-out;
  text-align: center;
}

.hero h3 {
  width: 50%;
}

.about-us,
.ebybbq-in-action {
  background-color: var(--main-bg-color);
}

.contact-us,
.follow-us {
  background-color: var(--alt-bg-color);
}

.about-us .section-cont{
  animation: slideIn 1s ease-in-out .1s;
}

.section-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  transition: all 0.3s ease-in-out;
}

.section-cont hr {
  border: 1px solid var(--main-text-color);
  width: 200px;
}

.about-us-content {
  width: 65%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.catering-smoked-bbq {
  text-align: center;
}

.find-out-spot {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.spot-near-you {
  text-align: center;
}

.find-out-more {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.find-out-more-btn {
  padding: 20px;
  background: var(--main-link-color);
  color: var(--secondary-bg-color);
  border-radius: 15px;
  font-size: 14px;
  font-weight: 700;
}

.section-cont.animate{
  animation: slideIn 1s ease-in-out;
}

.contact-visit {
  display: flex;
  justify-content: center;
  gap: 60px;
}

.contact-form-cont,
.visit-us {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  width: 31%;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 75%;
}

.contact-form textarea {
  background-color: #ececec;
  color: #1b1b1b;
  padding: 5px 10px;
  border: 1px solid var(--main-bg-color);
  border-radius: 5px;
}

.contact-form input[type="submit"] {
  background-color: var(--main-link-color);
  color: var(--secondary-bg-color);
  padding: 5px 10px;
  border: 1px solid var(--main-bg-color);
  border-radius: 5px;
}

.input-cont {
  display: flex;
  gap: 2px;
  flex-wrap: wrap;
  align-items: center;
}

.phone-cont {
  display: flex;
  gap: 1px;
}

.input-cont input {
  background-color: #ececec;
  color: #1b1b1b;
  padding: 5px 10px;
  border: 1px solid var(--main-bg-color);
  border-radius: 5px;
}

.input-cont input.error {
  border: 2px solid red;
}

.main-photo-cont {
  min-width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.fa-caret-left,
.fa-caret-right {
  cursor: pointer;
  font-size: 24px;
}

#imgCont {
  max-width: 500px;
  max-height: 300px;
  border-radius: 20px;
  box-shadow: 0 0 50px 10px var(--alt-text-color);
}

.photo-reel-cont {
  max-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: var(--photo-reel-bg);
  padding: 30px 20px;
  box-shadow: 0 0 10px 10px var(--photo-reel-bg);
}

.photo-reel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  max-width: 75%;
}

.photo-reel .photo {
  cursor: pointer;
  width: 10%;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.photo-reel .photo.active {
  box-shadow: 0 0 65px -20px var(--secondary-bg-color-opacity);
  transition: all 0.3s ease-in-out;
  border: 1px solid gold;
}

.social-icons {
  display: flex;
  gap: 50px;
}

.icon-conts {
    background-color: var(--main-headers-color);
    color: var(--alt-bg-color);
    border-radius: 50%;
    width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.social-icons i {
  font-size: 30px;
}