.navbar {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  padding: 10px;
  height: 75px;
  background-color: var(--secondary-bg-color-opacity);
  color: var(--alt-text-color);
  margin-bottom: 250px;
  transition: all 0.3s ease-in-out;
}

.navbar.sticky {
  height: 50px;
}

.navbar.sticky img {
  width: 100px;
  left: 47vw;
}

.navbar nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar a {
  color: var(--alt-text-color);
}

.navbar img {
  position: absolute;
  width: 200px;
  left: 45vw;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

#bgImg {
  position: fixed;
  z-index: -1;
  width: 100vw;
  top: -200px;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
  margin-bottom: 100px;
}

.hero h1,
.hero h3 {
  color: #fff;
  width: 45%;
  text-align: center;
}

.hero h3 {
  width: 35%;
}

.about-us {
  background-color: var(--main-bg-color);
}

.about-us .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 100px 0;
}

.about-us hr {
  width: 200px;
}

.about-us-content {
  width: 65%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.catering-smoked-bbq {
  text-align: center;
}

.find-out-spot {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.spot-near-you {
  text-align: center;
}

.find-out-more {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.find-out-more-btn {
  padding: 20px;
  background: var(--main-link-color);
  color: var(--main-bg-color);
  border-radius: 15px;
}
